.css-1u5u9fk-FieldContainer-root-FieldContainer-outlined-RichTextField-root-RichTextField-outlined .css-E2Alw3-RichTextField-content-ref {
    height: 125px;
    max-height: 125px;
    min-height: 125px;
    overflow-y: auto;
}

.css-1yt6z67-RichTextField-content-RichTextContent-root-RichTextContent-editable .ProseMirror:focus {
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    overflow-y: auto;
}

.css-1yt6z67-RichTextField-content-RichTextContent-root-RichTextContent-editable .ProseMirror {
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    overflow-y: auto;
}